
label {
  color: #000;
}

form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: auto;
  max-width: 600px;
  padding-bottom: 40px;
}

form label {
  margin-bottom: .5rem;
}

form input, textarea {
  margin-bottom: 1rem;
  padding: 10px 18px;
  font-size: 1.2rem;
  font-family: 'Josefin Sans', sans-serif;
  background: #D2D3FF;
  border-color: rgba(255,255,255,.1);
  color: #2E194B;
  border-radius: 10px;
}

form .button {
  border-radius: 10px;
  margin-top: 2rem;
  background-color: #FFFFFF;
  border-color: transparent;
}

form .button:hover {
  background-color: #2E194B;
  color: #FFFFFF;
  border-color: transparent;
}

.section {
  padding-top: 30px;

}

:root {
  --background: #FFFFFF;
  /* --text-primary: black;
  --text-secondary: royalblue;
  --accent: purple; */
}
[data-theme='dark'] {
  --background: #2E194B;
  /* --text-primary: white;
  --text-secondary: grey;
  --accent: darkred; */
}