.hero-podcast {
  height: 100vh;
  width: 100%;
  position: relative;
}

.hero-podcast:before {
  content:'';
  background: url('../assets/img/logo-js-abuse-01.png') no-repeat center center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  left: 0;
  z-index: -1;
}

.hero-podcast .content-podcast {
  text-align: center;
  position: absolute;
  margin: auto;
  height: 100%;
  width: 100%;
  top: 45vh;
}

.hero-podcast .content-podcast h1 {
  font-size: 4rem;
  color: #2E194B;
}


.hero-podcast .btn-podcast {
  margin: 1rem .5rem;
}

.hero-podcast .buttons {
  display: flex;
  justify-content: center;
}

@media screen and (max-width:640px) {
  .content-podcast h1 {
      font-size: 3rem;
  }

  .content-podcast p {
      font-size: 1.4rem;
      margin-bottom: 1.6rem;
  }
  
  .hero-podcast .content-podcast h1 {
    font-size: 3rem;
    color: #2E194B;
    margin-bottom: 20px;
  }
  .hero-podcast .btn {
    margin-bottom: 10px;
  }
}
