@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Josefin Sans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #D2D3FF;
}

h1, p, a {
  color: #2E194B;
}

a:hover {
  text-decoration: none;
}

.letter-violet {
  color: #2E194B;
}

.letter-grey {
  color: #595959;
  font-weight: 600;
  color: #2E194B;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.btn {
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 16px 32px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  color: #2E194B;
}

.btn-light {
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 16px 32px;
  outline: 0;
  border: 1px solid #595959;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  color: #FFFFFF;
}

.btn:after {
  content: "";
  background-color: #D2D3FF;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.btn-light:after {
  background-color: #2E194B;
  content: "";
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.btn:hover:after,
.btn-light:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .btn,
  .btn-light {
    padding: 13px 50px 13px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

