* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Josefin Sans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #D2D3FF;
}

h1, p, a {
  color: #2E194B;
}

a:hover {
  text-decoration: none;
}

.letter-violet {
  color: #2E194B;
}

.letter-grey {
  color: #595959;
  font-weight: 600;
  color: #2E194B;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.btn {
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 16px 32px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  color: #2E194B;
}

.btn-light {
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 16px 32px;
  outline: 0;
  border: 1px solid #595959;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  color: #FFFFFF;
}

.btn:after {
  content: "";
  background-color: #D2D3FF;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.btn-light:after {
  background-color: #2E194B;
  content: "";
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.btn:hover:after,
.btn-light:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .btn,
  .btn-light {
    padding: 13px 50px 13px;
  }
}

/* Navbar */
.header {
  display: flex;
  position: fixed;
  align-items: center;
  width: 100%;
  height: 90px;
  justify-content: space-between;
  padding: 1rem;
  background: rgba(210, 211, 255, 0.9);
  z-index: 10;
}

.nav {
  display: flex;
}

.nav li {
  padding: 0 1rem;
}

.nav a {
  font-size: 1.5rem;
  font-weight: 700;
}

.nav a:hover {
  transition: 0.3s;
  color: #fff;
  text-shadow: 2px 2px 2px #595959;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 1240px) {
  .hamburger {
    display: block;
    cursor: pointer;
}
  .nav {
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: -100%;
  text-align: center;
  width: 100%;
  height: 100vh;
  transition: 0.3s;
  z-index: -1;
  background: rgba(210, 211, 255, 0.9);
  }

  .nav li {
    padding: 1rem 0;
  }
  .nav.active {
    left: 0;
  }
  .nav a {
    font-size: 2rem;
  }

}

/* Video */
#video {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: none;
  z-index: -1;
  opacity: .7;
}

.hero {
  height: 100vh;
  width: 100%;
  object-fit: contain;
}

.hero .content {
  text-align: center;
  position: absolute;
  margin: auto;
  height: 100vh;
  width: 100%;
  top: 45vh;
}

.hero .content h1 {
  font-size: 4rem;
}

.hero p {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

.hero .btn,
.hero .btn-light {
  margin: 1rem .5rem;
}

@media screen and (max-width:640px) {
  .content h1 {
      font-size: 3rem;
  }

  .content p {
      font-size: 1.4rem;
      margin-bottom: 2rem;
      margin-top: 0.5rem;
  }
  
  .hero .content h1 {
    font-size: 3rem;
  }
}